$yellow: #FBD784;
$bg: #0B1D26;

%gilroy-medium{
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 500;
}
%gilroy-bold{
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 700;
}
%gilroy-extrabold{
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 800;
}
%chronicledisplay-semibold{
    font-family: 'ChronicleDisplaySemibold', serif;
    font-weight: 600;
}